<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Şeflerimiz</h2>
            <p>Profesyonel Şeflerimizi İnceleyin</p>
        </div>

        <div class="row justify-content-center">
            <!-- Ortalamak için -->
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
                    <div class="member text-center" data-aos="zoom-in" data-aos-delay="100">
                        <img src="@item.ImageUrl" alt="@item.Name" class="img-fluid chef-img">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>@item.Name</h4>
                                <span>@item.title</span>
                            </div>
                            <div class="social">
                                <a href="#"><i class="bi bi-twitter"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
